
@keyframes Boo {
    75% {
        color: midnightblue;
    }
}

#yo {
    color: white;
    font-weight: bold;
    font-family: monospace;
    text-decoration: none;
    animation: Boo 4s infinite;
}

h1 {
    text-shadow: 2px 2px 8px #FF00FF;
}
