@keyframes Boo {
    69% {
        color: midnightblue;
    }
}

#yo {
    color: white;
    font-weight: bold;
    font-family: monospace;
    text-decoration: none;
    animation: Boo 3s infinite;
}

h1 {
    text-shadow: 0px 0px 2px cyan;
}